<ion-view view-title="home">
        <ion-content>
                <div class="bar bar-header">
                        <button class="button button-icon icon-left ion-chevron-left button-clear button-dark" ui-sref="main">back</button>
                        <div class="h1 title">ADMIN</div>
                      </div>
          <h1 style="text-align:center;">Admin</h1>
          <img src="img/admin.png"  alt="admin" width="400" height="300" style="display:block; margin-left: auto; margin-right: auto;" /> 
          <div class="row">
            <div class="col col-30"><button class="button button-dark button-full button-outline" ui-sref="ADMINaccount" >Accounting</button></div>
          </div>
          <div class="row">
            <div class="col col-30"><button class="button button-dark button-full button-outline" ui-sref="ADMINinventory" >Inventory</button></div>
          </div>
          <!-- <div class="row">
            <input tye="text" name="textbox3"placeholder="enter the ip..." id="backup">
            <button class="button button-dark" ng-click="backup()">SAVE</button>
          </div> -->
        </ion-content>
      </ion-view>
      