<ion-view view-title="Category">
    
            <ion-content>
                    <div class="bar bar-header bar-dark">
                            <h1 class="title">Category</h1>
                          </div>
                           <br>
                           <br>
                          <div class="row">
                                <div class="col" style="padding: 5px;">
                                  <button class="button button-full button-outline button-balanced" ui-sref="tiffin"><img src="img/tiffin.jpg" width="80" height="40"style="display:block;margin-left: auto;margin-right: auto;">Tiffin</button>
                                </div>
                                </div>
                                <div class="row">
                                  <div class="col" style="padding: 5px;">
                                    <button class="button button-full button-outline button-positive" ui-sref="snacks" ><img src="img/snacks.jpg" width="80" height="40"style="display:block;margin-left: auto;margin-right: auto;">Snacks</button>
                                  </div>
                                  </div>

                                <div class="bar bar-footer tabs-striped tabs-color-dark tabs-icon-top">
                                        <div class="tabs">
                                          <a class="tab-item active" ui-sref="home">
                                            <i class="icon ion-home"></i>
                                            home
                                          </a>
                                          <a class="tab-item" ui-sref="category">
                                            <i class="icon ion-star"></i>
                                            categories
                                          </a>
                                          <a class="tab-item" ui-sref="order">
                                            <i class="icon ion-bag"></i>
                                            orders
                                          </a>
                                        </div>
                                      </div>
            </ion-content>
</ion-view>