<ion-view view-title="Search">
        <ion-content>
                <div class="bar bar-header">
                    <button class="button button-icon icon-left ion-chevron-left button-clear button-dark" ui-sref="main">back</button>
                    <div class="h1 title">SCANNER</div>
                  
                  </div>
                  <br>
                  <br>
                  <br>
                  
          <!-- <div class="row">
            <input tye="text" name="textbox3"placeholder="enter the ip..." id="backup">
            <button class="button button-dark" ng-click="backup()">SAVE</button>
          </div> -->
          <button class="button button-block button-dark" ng-click="scanBarcode()" id="qr" >scan</button>
          <br>
      
      
          <div class="row">
            <textarea rows="23" cols="35" id="final" readonly="true" style="background-color: rgba(0, 0, 0, 0); border-color: rgba(0, 0, 0, 0) ;font-size: 20px;"></textarea>
      </div>
      
          <div class="row">
              
            
            <button class="button button-block button-royal " ng-click="delivered()">delivered</button>
            </div>
            <br>
            <br>
          
          </div>
      
        </ion-content>
      </ion-view>
      