<ion-view view-title="history" >
    
                <ion-content >
                  <!-- <iframe id="myFrame" src='/home'></iframe> -->
                        <div class="bar bar-header bar-stable">
                            <button class="button button-calm"  ui-sref="home"><i class="icon ion-arrow-left-c"></i> Back</button>
                       <h1 class="title">ORDER HISTORY</h1>
                    
                     </div>
<br>
<br>
<br>
                     <div class="row">
                        <textarea rows="40" cols="35" id="history" readonly="true" style="background-color: rgba(0, 0, 0, 0); border-color: rgba(0, 0, 0, 0) ;font-size: 20px;"></textarea>
                  </div>
                     </ion-content>
                     </ion-view>