<ion-view view-title="SASS" >

            <ion-content >
              <!-- <iframe id="myFrame" src='/home'></iframe> -->
                    <div class="bar bar-header bar-stable">
                       <input type="text" name="textbox3" id="user" style="color:blue;font-size: 25px;">
                   <h1 class="title">CAFETERIA</h1>
                 <button class="button button-positive" ng-click="signout()"><i class="icon ion-log-out"></i> SIGN OUT</button>
                 </div>
                  <br>
               <br>
               <br>
                 <div class="row" >
                   <div class="col col-50"><input type="text" name="textbox3" placeholder="type here to search..." id="search"></div>
                   <div class="col col-30"><button class="button button-outline button-dark" ng-click="search()"><i class="icon ion-ios-search-strong"></i> search</button></div>
                  <div class="col col-20">
        <button class="button "ng-click="record()">
          <i class="icon ion-mic-a"></i>
        </button>
       </div>
        </div>
                <div class="row">
                  <div class="col col-40"><h4>BALANCE</h4></div>
                  <div class="col col-20"><input type="text" name="textbox3" id="available" size=5 style=" font-size: 20px;"></div>
                 
                </div>
                <div class="row">
                  <div class="col col-60"><h4>Remaining balance:</h4></div>
                  <div class="col col-40"><input type="text" name="textbox3" id="balance" style=" font-size: 20px;"></div>
                 </div>
                 <div class="row">
                  <div class="col col-offset-25"><button class="button button-royal button-outline" ui-sref="history">order history</button></div>
                 </div>
                  <img src="img/cafe.jpg"  alt="store" width="400" height="200" style="display:block; margin-left: auto; margin-right: auto;" />   
                  

                  <div class="row">
                    <div class="col" style="padding: 2px;">
                      <button class="button button-full button-balanced" ui-sref="tiffin">tiffin</button>
                    </div>
                    <div class="col" style="padding: 2px;">
                      <button class="button button-full button-positive" ui-sref="snacks">snacks</button>
                    </div>
                    </div>

                    <!-- <div class="bar bar-footer"> -->
                        <!-- <button class="button button-full button-clear button-dark" ui-sref="order"><i class="icon ion-bag"></i>order</button> -->
                        <div class="bar bar-footer tabs-striped tabs-color-dark tabs-icon-top"style="background-color: rgba(0, 0, 0, 0); border-color: rgba(0, 0, 0, 0) ;">
                          <div class="tabs"style="background-color: rgba(0, 0, 0, 0); border-color: rgba(0, 0, 0, 0) ;">
                        
                            <a class="tab-item active" ui-sref="home" >
                              <i class="icon ion-home" ></i>
                              home
                            </a>
                            <a class="tab-item" ui-sref="category">
                              <i class="icon ion-star"></i>
                              categories
                            </a>
                            <a class="tab-item" ui-sref="order">
                              <i class="icon ion-bag"></i>
                              orders
                            </a>
                          </div>
                        </div>
                     
 
</ion-content>

</ion-view>                 