<ion-view view-title="signup">
    <ion-content >
        <div class="bar bar-header">
            <button class="button button-icon icon-left ion-chevron-left button-clear button-dark" ui-sref="login">back</button>
            <div class="h1 title">SIGNUP</div>
            
          </div>
          <br>
          <br>
          <br>
      
      <div class="row">
          <div class ="col col-30"><h5>USERNAME :</h5></div>
          <div class="col"><input type="text" name="textbox3" id="username" placeholder="enter the your name"></div>
      </div>
      <div class="row">
            <div class ="col col-30"><h5>MOBILE NUMBER :</h5></div>
            <div class="col"><input type="text" name="textbox3" id="mobile" placeholder="enter the your name"></div>
        </div>
        <div class="row">
                <div class ="col col-30"><h5>PASSWORD :</h5></div>
                <div class="col"><input type="password" name="textbox3" id="password" placeholder="enter password"></div>
            </div>
            <div class="row">
                    <div class ="col col-30"><h5>CONFIRM PASSWORD :</h5></div>
                    <div class="col"><input type="password" name="textbox3" id="password1" placeholder="Retype the password"></div>
                </div>
                <div class="row">
                    <button class="button button-dark button-outline" style="margin-right:auto; margin-left:auto;" ng-click="submit()">SUBMIT</button>
                </div>
      </ion-content>
      </ion-view>